<?xml version="1.0"?>
<config>
  <modules>
    <Pilibaba_Pilipay>
      <version>2.1.2</version>
    </Pilibaba_Pilipay>
  </modules>
  <global>
    <models>
      <pilipay>
        <class>Pilibaba_Pilipay_Model</class>
      </pilipay>
    </models>
    <helpers>
      <pilipay>
        <class>Pilibaba_Pilipay_Helper</class>
      </pilipay>
    </helpers>
    <blocks>
      <pilipay>
        <class>Pilibaba_Pilipay_Block</class>
      </pilipay>
    </blocks>
    <events>
        <sales_order_shipment_save_after>
            <observers>
                <pilipayUpdateTrackShipmentToPilipay>
                    <class>pilipay/observer</class>
                    <method>updateTrackNumber</method>
                </pilipayUpdateTrackShipmentToPilipay>
            </observers>
        </sales_order_shipment_save_after>
    </events>
  </global>
  <default>
    <payment>
      <pilipay>
        <model>pilipay/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Pilibaba Payment Gateway</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </pilipay>
    </payment>
  </default>
  <frontend>
    <routers>
      <pilipay>
        <use>standard</use>
        <args>
          <module>Pilibaba_Pilipay</module>
          <frontName>pilipay</frontName>
        </args>
      </pilipay>
    </routers>
    <layout>
      <updates>
          <pilipay>
            <file>pilipay.xml</file>
          </pilipay>
      </updates>
    </layout>
  </frontend>
  <default>
      <payment>
          <pilipay>
              <gateway_url>http://www.pilibaba.com/pilipay/payreq</gateway_url>
              <track_url>http://www.pilibaba.com/pilipay/updateTrackNo</track_url>
              <currencyType>USD</currencyType>
              <whatIsUrl>http://www.pilibaba.com/en/bank</whatIsUrl>
              <whatIsText>What is Pilipay?</whatIsText>
              <logoImg>Pili.png</logoImg>
          </pilipay>
      </payment>
  </default>
</config>
